.custom-navbar {
  background-image: var(--navbar-bg) !important;
}
.custom-navbar .nav-link,.navbar-brand {
  color: var(--clr-font) !important;
}
.navbar-toggler {
  color: var(--clr-font) !important;
}
.custom-navbar .dropdown-toggle::after{
  border: 0;
}
.custom-navbar .dropdown-toggle {
  font-size: 2em;
}
.custom-navbar .dropdown-menu {
  right: 0;
  left: auto !important;
}