.cartDropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--clr-font);
  background-color: var(--clr-bg);
  top: 55px;
  right: 3px;
  z-index: 5;
}
.cartItems {
  height: 240px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.checkOutButton {
  margin-top: auto;
}

@media only screen and (max-width:992px) {
  .cartDropdown {
    right:-92px
  }
}
